hr {
    margin: 1rem 0 1rem 0;
}

.modalContainer {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -5vh;
    padding: 0 2.5vw 0 2.5vw;
    background-color: white;
    border-radius: 2rem;
    height: 87vh;
    width: 95vw;
    animation-name: animateBottom;
    animation-duration: 0.4s
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: normal;
    padding-top: 2rem;

}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    pointer-events: auto;
}

.modalFooter {
    display: flex;
    justify-content: space-around;



}

@keyframes animateBottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}