#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

html {
  font-size: calc(60% + 0.8vmin);
}

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: #dfe6e9;
  text-align: center;
}
