.card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }